body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  margin-top: 2px;
}

p h1,
h2 {
  color: midnightblue;
}

a:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.box .flex-item {
  margin: 0 10px;
  border-radius: 15px;
  color: #ffffff;
}

.center {
text-align: center;
align-items: center;
align-content: center;
}
.row {
  display: inline-block;
  white-space: nowrap;
  text-align: center;

}
.avatar {
  position: relative; 
  background-color: rgba(159, 38, 29, 0.919);
  width: 230px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  padding: 10px;
}

.w-50 {
  min-width: 50%;
  max-width: 50%;
}
.w-33{
  width: 33%;
}
.w-300{
  min-width: 300px;
}
.m-5{
  margin: 5%;
}
.mr-5{
  margin-right: 5%;
}
.ml-5{
  margin-left: 5%;
}

.icon {
  width: 200px;
  height: 200px;
}


.title {
  color: maroon;
}

.information {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-family: Arial, sans-serif;

}

.header {
  color: maroon;
  font-size: 25px;

}

.page {

  font-size: 35px;
}

#list {
  list-style: square;
}

.special {
  font-style: italic;
}

.current {
  font-size: large;
  font-weight: bold;
}

.circular--portrait {
  position: relative;
  width: 230px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  padding: 10px;
}
.p10 {
  padding: 10PX;
}
header {
  background-image: url(images/bg.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.center {
  text-align: center;
  align-items: center;
}


.card {
  /* Add shadows to create the "card" effect */
  
  box-shadow: 0 8px 16px 0 rgba(17, 84, 192, 0.2);
  background-color: rgba(201, 229, 231, 0.2);
  transition: 0.3s;
  padding: 2px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 6px 10px 0 rgba(159, 38, 29, 0.919);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.pie-header{
  color: goldenrod;
  text-decoration: underline;
  font-size: 2em;
  text-transform: capitalize;
  background-color: lightgray;
}
.yellow-quote {
  background-color: yellow;
  font-style: italic;
  padding: 3px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: flex-start;
  
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: rgba(159, 38, 29, 0.919);
  
}
.navigation a {
  color: yellow;
  text-decoration: none;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: yellow;
}
a {
  text-decoration: none;
}

.navigation a:hover {
  background: yellow;
  color: rgba(111, 5, 5, 0.496);
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}