body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  margin-top: 2px;
}

p h1,
h2 {
  color: midnightblue;
}

a:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.box .flex-item {
  margin: 0 10px;
  border-radius: 15px;
  color: #ffffff;
}

.row {
  display: inline-block;
  white-space: nowrap;
  text-align: center;

}

.w-50 {
  min-width: 50%;
  max-width: 50%;
}

.icon {
  width: 200px;
  height: 200px;
}


.title {
  color: maroon;
}

.information {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-family: Arial, sans-serif;

}

.header {
  color: maroon;
  font-size: 25px;

}

.page {

  font-size: 35px;
}

#list {
  list-style: square;
}

.special {
  font-style: italic;
}

.current {
  font-size: large;
  font-weight: bold;
}

.circular--portrait {
  position: relative;
  width: 230px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  padding: 10px;
}
.p10 {
  padding: 10PX;
}
header {
  background-image: url(images/bg.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.center {
  text-align: center;
  align-items: center;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}