.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    
  }
 .w-50 {
     min-width: 49%;
     max-width: 49%;
 }
  .flex-container > div {

    font-size: medium;
    max-width: 30%;
    
  }
  .right {
    float: right;
  }

  .footer {
      background-color: rgb(20, 25, 25);
      color: white;
      font-size: small;
      box-shadow: 0 4px 4px 0 rgba(31, 36, 44, 0.2);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 20px;
      padding-top: 20px;
  }
 a {
     color: white;
     text-decoration: none;
 }
  .icon {
      width: 25px;
      height: 25px;
      fill: orange;
      vertical-align: bottom;
  }
.gray-hr {
    border-width: 0.5px; border-color: gray;
}
.orange-btn{
    background-color: orange;
    color: white;
    border-radius: 20%;
    margin-left: -10px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.email-input {
    background-color: rgb(41, 42, 42);
    color: white;
    border: none;
    height: 35px;
    padding-left: 5px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    min-width: 40ch;
}

.thumbnail  {
      position: relative;
      width: 90%;
      margin-bottom: 20px;
      height: 190px;
  }
  .footer-menu-item{
      margin: 10px;
      font-size: large;
  }
  .telephone {
      font-size: large;
      font-weight: bold;
  }
  .twitter-list {
   /* list-style-image:url(../images/twitter.png); */
    margin: 0;
	padding: 10px 0 10px 25px;
	list-style: none;
	background-image: url("../images/twitter.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
  }
  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  @media all and (max-width: 600px) {
      .flex-container {
          flex-wrap: wrap;
          flex-direction: crowolumn wrap;

      }
      .flex-container > div {
        font-size: medium;
        max-width: 100%;
        
      }
  }